{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> MCV View Resource - Artifact Description View</h1>
                <p>
                   To jest widok opisu zabytku:
                </p>
                <table style="text-align: center;width: 100%;">
                    <tr>
                        <td>Numer Id</td>
                        <td>Numer inwentarzowy</td>
                        <td>Tytuł zabytku</td>
                        <td>Author zabytku</td>
                    <tr>
                    <tr>
                        <td><b>{{artifact.id}}</b></td>
                        <td>{{artifact.inventoryNumber}}</td>
                        <td>{{artifact_description.title}}</td>
                        <td>{{artifact_description.author}}</td>
                    </tr>
                </table>
                <a href="{{path('artifact_list')}}">Wróć do listy</a>
            </div>
{% endblock %}