{% extends "McvAdminBundle:layout:admin.layout.html.twig" %}

{% block body %}
    <h1>Artifacttypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Typename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artifactType in artifactTypes %}
            <tr>
                <td><a href="{{ path('artifact-type_show', { 'id': artifactType.id }) }}">{{ artifactType.id }}</a></td>
                <td>{{ artifactType.typeName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('artifact-type_show', { 'id': artifactType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('artifact-type_edit', { 'id': artifactType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('artifact-type_new') }}">Create a new artifactType</a>
        </li>
    </ul>
{% endblock %}
